
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:green">@ViewBag.message</h3>

<form action="/Home/Departments">
    <input type="submit" class="btn btn-primary" style="width:200px" value="Shop Now"/>
</form>