@{
    ViewBag.Title = "Shashka Online Store";
}
<div style="padding-left:60px;height:450px">
<h2 style="color:green">@ViewBag.Title.</h2>
    <h2>About our Organization.</h2>

<p style="width:30%">Our team of corporate merchandising and technology professionals design and develop custom branded merchandise e-stores.Shashka online company store can be designed to support multiple audiences, from employees and customers to distributors and partners.</p>
</div>