
@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:100%">
<h2 style="padding-left:15px;color:darkblue">AdminPanel</h2>

<div class="row" style="margin:10px 0 10px 0">
<a href="/Products/CategoryForm">
    <div style="height:320px;width:300px;background-color:white;margin:0 5px 0 5px;padding:0 5px 5px 5px;float:left">

        <div>
            <img src="~/Peruploads/coverpics/products.jpg" style="height:300px;max-width:300px">
        </div>
        <div>
            <p style="font-size:18px;margin:5px 0 0 0;color:#0066c0;text-align:center">Add New Product</p>
           
        </div>
    </div>
</a>

    <a href="/Orders/">
        <div style="height:320px;width:300px;background-color:white;margin:0 5px 0 5px;padding:0 5px 5px 5px;float:left">

            <div>
                <img src="~/Peruploads/coverpics/Online_Orders.jpg" style="height:300px;max-width:300px">
            </div>
            <div>
                <p style="font-size:18px;margin:5px 0 0 0;color:#0066c0;text-align:center">Customer Orders</p>

            </div>
        </div>  
    </a>

    <a href="/Customers/ShowUsers">
        <div style="height:320px;width:300px;background-color:white;margin:0 5px 0 5px;padding:0 5px 5px 5px;float:left">

            <div>
                <img src="~/Peruploads/coverpics/customer.jpg" style="height:300px;max-width:300px">
            </div>
            <div>
                <p style="font-size:18px;margin:5px 0 0 0;color:#0066c0;text-align:center">Customers</p>

            </div>
        </div>
    </a>
   
    </div>

</div>